backend/.DS_Store
backend/Module/constants.py
backend/Module/.DS_Store
backend/test.ipynb
backend/Module/__pycache__/
backend/Base/__pycache__/
backend/config.ini
backend/.ipynb_checkpoints/
backend/Routes/__pycache__/
backend/__pycache__/
backend/dump.rdb
backend/rqtest.py
backend/test.py
backend/my_module.py
backend/venv/
backend/todo
backend/Module/example1.png
backend/Module/ML_Sentimental/__pycache__/
.DS_Store